{% extends 'layout.html' %}
{% block contenido %}

<div class="main p-3">
    <div class="text-center">
        <h1>FACTURACIÓN</h1>
    </div>
    
        <section>
            <div class="row mb-5">
                <div class="col" style="max-width: 590px;">
                    <label for="dni_cliente" class="form-label">Cliente</label>
                    <input type="text" placeholder="DNI Cliente" class="form-control" name="dni_cliente" id="dni_cliente">
                </div>
                <div class="col ms-5 mt-3"
                    style="background-color: brown; max-width: 300px; border-radius: 8px; display: flex; align-items: center;">
                    <h2>Total</h2>
                    <h3>$$$$</h3>
                </div>
            </div>
            <input type="hidden" id="id_cliente" name="id_cliente">
            <div class="row mt-5">
                <div class="col" style="max-width: 590px;">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" readonly>
                </div>
                <div class="col">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" readonly>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col" style="max-width: 590px;">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="telefono" readonly>
                </div>
                <div class="col">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" id="email" readonly>
                </div>
            </div>
            <div class="row mt-3" style="height: 400px;">
                <div class="col">
                    <label for="" class="form-label">Productos</label>
                    <textarea name="" id="" class="form-control"></textarea>
                </div>
                <div class="col" style="margin-top: 100px; margin-left: 100px;">
                    <button class="btn btn-primary" id="generar-factura" type="submit" formaction="/crear_factura">Generar</button>
                </div>
            </div>
            <input type="hidden" id="id_usuario" name="id_usuario" value="1">
        </section>
    
    <div class="row mt-3" style="height: 400px;">
        <!-- Buscar Producto -->
        <div class="col">
            <label for="producto">Producto:</label>
            <input type="text" id="producto" name="producto">
            <button id="buscar-producto">Buscar Producto</button>
            <div id="productos-sugeridos"></div>
        </div> 
    </div>

    <!-- Productos Seleccionados -->
    <h3>Carrito</h3>
    <table id="carrito">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas dinámicas -->
        </tbody>
    </table>

</div>
<script>
    $("#dni_cliente").change(function() {

        value = $(this).val();
        $.ajax({
            type: "GET",
            url: "/consultar_cliente_dni/" + value,
            contentType: "application/json",
            dataType: "json",
            success: function(result) {
                $('#nombre').val(result.nombre);
                $('#direccion').val(result.direccion);
                $('#telefono').val(result.telefono);
                $('#email').val(result.email);
                $('#id_cliente').val(result.id);
            }
        });
    });

    $('#buscar-producto').click(function() {
        const query = $('#producto').val();
        $.ajax({
            url: '/buscar_producto',
            method: 'GET',
            data: { query: query },
            success: function(data) {
                let sugerencias = '';
                data.productos.forEach(producto => {
                    sugerencias += `<p data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}">${producto.nombre} - $${producto.precio}</p>`;
                });
                $('#productos-sugeridos').html(sugerencias);
            }
        });
    });

    $('#productos-sugeridos').on('click', 'p', function() {
        const id = $(this).data('id');
        const nombre = $(this).data('nombre');
        const precio = $(this).data('precio');
        const cantidad = 1;

        const fila = `<tr data-id="${id}">
            <td>${nombre}</td>
            <td class"precio">${precio}</td>
            <td><input type="number" value="${cantidad}" class="cantidad"></td>
            <td>${precio * cantidad}</td>
        </tr> `;
        $('#carrito tbody').append(fila);
    });

    $('#generar-factura').click(function() {
        const carrito = [];
        $('#carrito tbody tr').each(function() {
            const id = $(this).data('id');
            const cantidad = $(this).find('.cantidad').val();
            carrito.push({ producto_id: id, cantidad: cantidad });
        });

        $.ajax({
            url: '/crear_factura',
            method: 'POST',
            contentType: 'application/json',
            dataType: "json",
            data: JSON.stringify({
                id_cliente: $('#id_cliente').val(),
                carrito: carrito
            }),
            success: function(response) {
                if (response.success) {
                    window.location.href = response.redirect_url;
                } else {
                    alert(response.message || 'Error al generar factura');
                }
            }
        });
    });
</script>
{% endblock %}