{% extends 'layout.html' %}
{% block contenido %}
<div class="main m-4 p-3">
    <div class="text-center" id="name-pagina" style="background: #F3F4B9;">
        <h1>REGISTRO DE NUEVO PRODUCTO</h1>
    </div>
    <section style="height: 400px;">
        <div class="row">
            <div class="mb-3 col">
                <label for="nombreproducto" class="form-label">Nombre del producto</label>
                <input type="text" id="nombreproducto" class="form-control" placeholder="Producto">
            </div>

            <div class="mb-3 col">
                <label for="" class="form-label">Proveedor del producto</label>
                <select name="" id="" class="form-select">
                    <option value="">Elige uno</option>
                    <option value="">Manzanas</option>
                    <option value="">Peras</option>
                </select>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <label for="" class="form-label">Descripción del producto</label>
                <textarea name="" id="" class="form-control"></textarea>
            </div>
            <div class="col ms-5 me-5"
                style="background-color: grey; border-radius: 8px; display: flex; justify-content: center; align-items: center; color: darkgrey;">
                <h2>Imagen del producto</h2>
            </div>
        </div>

    </section>
</div>
{% endblock %}