{% extends 'layout.html' %}
{% block contenido %}
<div class="main p-3">
    <div class="text-center">
        <h1>REGISTRO NUEVO PROVEEDOR</h1>
    </div>
    <section class="m-5">
        <div class="mb-4">
            <label for="" class="form-label">Nombre Empresa Proveedora</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-4">
            <label for="" class="form-label">NIT de la empresa</label>
            <input type="number" class="form-control">
        </div>
        <div class="mb-4">
            <label for="" class="form-label">Dirección</label>
            <input type="text" class="form-control">
        </div>
    </section>
</div>
{% endblock %}